.button {
  // background-color: $color-blue;
  // background-color: transparent;
  border-radius: 0.2rem;
  box-shadow: 2px 5px 10px rgba(#000, .1);
  // color: #fff;
  font-size: $base-font-size * 0.75;
  padding: 0.5rem 1rem;
  white-space: nowrap;

  &:hover {
    transition: all 60ms ease;
    opacity: .85;
    box-shadow: 2px 5px 10px rgba($color-blue, .1);
    // color: #fff;
  }

  &:active {
    // color: #fff;
    transition: all 60ms ease;
    opacity: .75;
  }

  // &:focus {
    // color: #fff;
    // outline: 1px dotted #959595;
    // outline-offset: -4px;
  // }

  // &--rss {
  //   background-color: transparent;
  // }
}
