body {
  main {
    article {
      header {
        margin-bottom: 3rem;
        text-align: center;

        h1 {
          font-size: 2.5rem;
          margin-top: 0;
        }

        time {
          font-size: 0.8rem;
          color: $color-silver;
        }
      }

      section {
        text-align: justify;

        blockquote {
          @include element-margin($itemMargin, false, true);

          border-left: 0.3rem $color-silver solid;
          font-style: italic;
          width: 60%;
          padding: 1rem;
        }

        figure {
          @include element-margin($itemMargin, false, true);

          padding: 0;
          position: relative;

          &.full {
            left: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            position: relative;
            right: 50%;
            width: 100vw;
          }

          img {
            margin: 0 auto;

            &.full {
              left: 50%;
              margin-left: -50vw;
              margin-right: -50vw;
              position: relative;
              right: 50%;
              width: 100vw;
            }
          }

          figcaption {
            font-size: 0.8rem;
            font-style: italic;
            text-align: center;
          }
        }

        h1 {
          font-size: 2.5rem;
          margin: $itemMargin*1.5 0 $itemMargin*0.6 0;
        }

        h2 {
          font-size: 2rem;
          margin: $itemMargin*1.4 0 $itemMargin*0.5 0;
        }

        h3 {
          font-size: 1.5rem;
          margin: $itemMargin*1.3 0 $itemMargin*0.4 0;
        }

        h4 {
          font-size: 1rem;
          margin: $itemMargin*1.2 0 $itemMargin*0.3 0;
        }

        h5 {
          font-size: 0.8rem;
          margin: $itemMargin*1.1 0 $itemMargin*0.2 0;
        }

        h6 {
          font-size: 0.6rem;
          margin: $itemMargin 0 $itemMargin*0.1 0;
        }

        iframe.instagram-media {
          @include element-margin($itemMargin, true, true);
        }

        img {
          @include element-margin($itemMargin, false, true);

          display: block;
          height: auto;
          max-width: 100%;

            &.full {
              left: 50%;
              margin-left: -50vw;
              margin-right: -50vw;
              position: relative;
              right: 50%;
              width: 100vw;
            }
        }

        video {
          @include element-margin($itemMargin, false, true);

          display: block;
          width: 100%
        }

        ol {
          @include element-margin($itemMargin, false, false);

          padding: 0 0 0 20px;
        }

        p {
          margin: $itemMargin*0.2 0 $itemMargin*0.5 0;

          code {
            background-color: $color-white-smoke;
            color: $color-indian-red;
            padding: 0.2rem 0.3rem;
          }
        }

        pre {
          @include element-margin($itemMargin, false, true);

          background-color: $color-dark-slate-gray;
          color: $color-light-gray;
          display: grid;
          overflow: auto;
          padding: 0.5rem;

          code {
            color: $color-light-gray;
            background-color: $color-dark-slate-gray;
            font-size: $base-font-size * 0.8;
            min-width: 0;
          }
        }

        table:not(.highlight) {  // disable for table inside Github gist
          @include element-margin($itemMargin, false, true);

          border-collapse: collapse;
          border-style: hidden;
          width: 100%;

          thead {
            tr {
              th {
                border: 1px solid $color-silver;
                font-weight: bold;
                padding: 0.5rem;
                text-align: left;
                vertical-align: middle;
              }
            }
          }

          tbody {
            tr {
              td {
                border: 1px solid $color-silver;
                padding: 0.5rem;
                vertical-align: middle;
              }
            }
          }
        }

        ul {
          @include element-margin($itemMargin, false, false);

          padding: 0 0 0 20px;

          &.task-list {
            list-style: none;
            padding: 0;
          }
        }

        .gist {
          @include element-margin($itemMargin, false, true);
        }

        .speakerdeck {
           @include element-margin($itemMargin, false, true);
        }

        .twitter-tweet {
          @include element-margin($itemMargin, true, true);

          @media (max-width: 550px) {
            width: 0 !important;
          }
        }

        .vimeo {
           @include element-margin($itemMargin, false, true);
        }

        .youtube {
           @include element-margin($itemMargin, false, true);
        }
      }

      footer {
        @include element-margin($itemMargin, false, false);

        text-align: center;

        .meta {
          align-items: center;
          display: flex;
          justify-content: space-between;
          padding: 0.1rem 1rem;

          @media screen and (max-width: $breakpoint) {
            flex-direction: column;
          }

          .categories {
            a {
              background-color: $links-color;
              border-radius: 0.2rem;
              color: $color-white-smoke;
              padding: 0.2rem 0.5rem;
            }
          }

          .tags {
            a {
              span {
                color: $color-silver;
              }
            }
          }
        }

        #disqus_thread {
          @include element-margin($itemMargin, false, true);
        }
      }
    }
  }
}