footer.global {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  padding: 0 1.5rem;

  // a {
  //   svg {
  //     height: 1rem;
  //     margin: 0 0.5rem;
  //     width: 1rem;
  //   }
  // }
}
