body {
  > footer {
    align-items: center;
    background-color: $navbar-background-color;
    color: $navbar-text-color;
    display: flex;
    font-size: $base-font-size * 0.8;
    justify-content: space-between;
    padding: 0.1rem 1rem;
    text-align: center;

    @media screen and (max-width: $breakpoint) {
      flex-direction: column;

      p {
        &:first-of-type {
          margin-bottom: 0.1rem;
        }
        &:last-of-type {
          margin-top: 0.1rem;
        }
      }
    }
  }
}
