nav {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  height: 3rem;
  justify-content: space-between;
  padding: 0 1.5rem;
  text-align: right;

  div {
    a {
      padding: 0 0.5rem;

      svg {
        height: 1rem;
        width: 1rem;

        &.rss {
          fill: $color-coral;
        }
      }
    }
  }
}
