nav {
  display: grid;
  padding: 0 $padding-left-right;

  .title {
    grid-column: 1;

    svg {
      color: $color-black;
      height: auto;
      margin-right: 0.5rem;
      width: $navbarHeight/2;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }

  .nav {
    grid-column: 2;
    justify-self: end;

    a {
      svg {
        color: $color-rss;
        height: auto;
        width: $navbarHeight/2;
      }
    }
  }
}
