body {
  main {
    .svg-icon {
      align-self: center;
      display: inline-flex;

      svg {
        fill: $color-silver;
        height: 1rem;
        width: 1rem;
      }

      &.baseline {
        position: relative;
        top: -0.1rem;
      }
    }
  }
}
