article {
  padding: 0 $padding-left-right;

  header {
    text-align: center;

    h1 {
      margin: 0 auto;
    }

    p {
      color: $color-silver;
      font-size: 0.8rem;
      margin: 0 auto;

      a {
        color: $color-silver;
      }
    }
  }

  section {
    margin: 3rem 0;

    @media (max-width: 550px) {
      margin: 1.5rem 0;
    }
  }

  footer {
    text-align: center;

    #disqus_thread {
      margin-top: 4rem;
    }
  }
}
