.taxonomies-list {
  h1 {
    a {
      padding: 0 0.5rem;

      svg {
        height: 1rem;
        width: 1rem;
        vertical-align: middle;

        &.rss {
          fill: $color-coral;
        }
      }
    }
  }
}
