body {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1 {
  font-size: $font-size-h1;
  line-height: $base-line-height * 2;
  margin: $base-font-size * $base-line-height 0;
}

p {
  line-height: $base-line-height;
  margin: $base-font-size * $base-line-height 0;

  code {
    color: $color-light-gray;
    background-color: $color-dark-slate-gray;
  }
}
