h1 {
  @include paragraph-margin(1.2rem);

  font-size: 2rem;
}

h2 {
  @include paragraph-margin(1.1rem);

  font-size: 1.6rem;
}

h3 {
  @include paragraph-margin(1.0rem);

  font-size: 1.3rem;
}

h4 {
  @include paragraph-margin(0.9rem);

  font-size: 1rem;
}

h5 {
  @include paragraph-margin(0.8rem);

  font-size: 0.8rem;
}

h6 {
  @include paragraph-margin(0.7rem);

  font-size: 0.7rem;
}

p {
  margin-bottom: 2rem;

  code {
    background-color: $color-white-smoke;
    color: $color-indian-red;
    padding: 0.2rem 0.3rem;
  }

  img {
    @include shadow(1%, 100%);

    margin: 3rem auto;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid $hr-botder-bottom-color;
  border-top: 1px solid $hr-border-top-color;
  height: 0;
  margin-bottom: $itemMargin;
  margin-top: $itemMargin;
}

figure {
  margin: $itemMargin auto;

  img {
    @include shadow(1%, 100%);

    margin: 0 auto;
  }

  figcaption {
    font-style: italic;
    margin-top: 1rem;
    text-align: center;
  }
}

blockquote {
  border-left: 0.5rem $color-silver solid;
  font-style: italic;
  margin: $itemMargin auto;
  width: 60%;
  padding: 1rem;
}

pre {
  margin: $itemMargin auto;
  background-color: $color-dark-slate-gray;
  color: $color-light-gray;
  display: grid;
  overflow: auto;
  padding: 1rem;
  // min-width: 0;

  code {
    color: $color-light-gray;
    background-color: $color-dark-slate-gray;
    min-width: 0;
    width: 50vw; // FIXME: Ugly hack for Firefox? The code tag is widther that window.
  }
}

div.gist {
  margin-bottom: $itemMargin;
  margin-top: $itemMargin;
}

div.highlight {
  margin-bottom: $itemMargin;
  margin-top: $itemMargin;
}

table:not(.highlight) {  // disable for table inside Github gist
  border-collapse: collapse;
  border-style: hidden;
  margin-bottom: $itemMargin;
  margin-top: $itemMargin;
  width: 100%;

  thead {
    tr {
      th {
        border: 1px solid $color-silver;
        font-weight: bold;
        padding: 0.5rem;
        text-align: left;
        vertical-align: middle;
      }
    }
  }

  tbody {
    tr {
      td {
        border: 1px solid $color-silver;
        padding: 0.5rem;
        vertical-align: middle;
      }
    }
  }
}

ul {
  margin-bottom: $itemMargin;
  margin-top: $itemMargin;

  &.task-list {
    list-style: none;
    padding-left: 20px;

    li {
      label {
        input {
          margin-right: 5px;
        }
      }
    }
  }
}

.gist {
  display: grid;
  margin-bottom: $itemMargin;
  margin-top: $itemMargin;

  .gist-file {
    overflow: auto;
  }
}

.twitter-tweet {
  margin: $itemMargin auto !important;

  @media (max-width: 550px) {
    width: 0 !important;
  }
}

iframe.instagram-media {
  margin: $itemMargin auto !important;
}
