.progress-container {
  background: transparent;
  height: 0.1rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .progress-bar {
    background: $links-color;
    height: 0.1rem;
    width: 0;
  }
}
