$breakpoint: 800px;

$base-font-size: 18px;
$base-line-height: 1.5;
$base-background-color: #fefefe;
$base-font-color: #454545;

$navbar-height: 3rem;
$navbar-background-color: #f8f8f8;
$navbar-icon-color: #000;
$navbar-text-color: #000;

$links-color: #39f;

$color-white-smoke: #f8f8f8;
$color-indian-red: #f0506e;
$color-silver: #c0c0c0;
$color-dark-slate-gray: #202020;
$color-light-gray: #d0d0d0;

$itemMargin: 2rem;
