<!DOCTYPE html>
<html lang="{{ or .Params.language .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "navbar.html" . }}
    <main>
      {{ block "main" . -}}{{- end }}
    </main>
    {{ partial "footer.html" . }}
    <script src="{{ print "/assets/js/" $.Site.Data.assets.main.js | relURL }}"></script>
    {{ template "_internal/google_analytics_async.html" . }}
    {{ if .Site.Params.addThisId }}
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ $.Site.Params.addThisId }}"></script>
    {{ end }}
  </body>
</html>
