<!DOCTYPE html>
<html lang="{{ or .Params.language .Site.LanguageCode }}" itemscope itemtype="http://schema.org/WebPage">
  {{ partial "head.html" . }}
  <body>
    {{ if not .IsHome }}
      {{ partial "navbar.html" . }}
    {{ end }}
    <main class="container{{ if .IsHome }} home{{ end }}">
      {{ block "main" . -}}{{- end }}
    </main>
    {{ if not .IsHome }}
      {{ partial "footer.html" . }}
    {{ end }}
    <!-- JS -->
    {{ $baguetteBox := resources.Get "/src/scripts/_external/baguetteBox.js" }}
    {{ $headroom := resources.Get "/src/scripts/_external/headroom.js" }}
    {{ $lazyload := resources.Get "/src/scripts/_external/lazyload.js" }}
    {{ $main := resources.Get "/src/scripts/main.js" }}
    {{ $scripts := slice $baguetteBox $headroom $lazyload $main | resources.Concat "assets/js/scripts.js" | resources.Minify }}
    <script src="{{ $scripts.RelPermalink }}"></script>
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
