{{ define "main" }}
  <div class="progress-container">
    <div class="progress-bar"></div>
  </div>
  <article>
    <header>
      <time datetime="{{ .Date.Format "2006-01-02 03:04" }}">
        {{- .Date.Format "2006-01-02" -}}
      </time>
      <h1>{{- .Title -}}</h1>
    </header>
    <section>
      {{- .Content -}}
    </section>
    <footer>
      <hr>
      <div class="meta">
        <p class="categories">
          {{- if .Params.categories }}
            {{ range $index, $category := .Params.categories }}
              {{ if gt $index 0 }}, {{ end }}
              <a href="{{ $.LanguagePrefix }}{{ "/categories/" | relURL }}{{ . | urlize }}">{{- upper . -}}</a>
            {{ end }}
          {{- end -}}
        </p>
        <p class="tags">
          {{ if .Params.tags }}
            {{ range $index, $tag := .Params.tags }}
              <a href="{{ $.LanguagePrefix }}{{ "tags/" | relURL }}{{ . | urlize }}">
                <span>#</span>{{- . -}}
              </a>
            {{ end }}
          {{ end }}
        </p>
      </div>
      <hr>
      {{ template "_internal/disqus.html" . }}
    </footer>
  </article>
{{ end }}
