{{ define "main" }}
  <article>
    <header>
      <p>
        <time datetime="{{ .Date.Format "2006-01-02 03:04" }}">
          {{- .Date.Format "2006-01-02" -}}
        </time>
        {{- if .Params.categories }} &bull;
          {{ range $index, $category := .Params.categories }}
            {{ if gt $index 0 }}, {{ end }}
            <a href="{{ $.LanguagePrefix }}{{ "/categories/" | relURL }}{{ . | urlize }}">{{- upper . -}}</a>
          {{ end }}
        {{- end -}}
      </p>
      <h1>
        {{- .Title -}}
      </h1>
      <p>
        {{ if .Params.tags }}
          {{ range $index, $tag := .Params.tags }}
            {{ if gt $index 0 }}, {{ end }}
            <a href="{{ $.LanguagePrefix }}{{ "tags/" | relURL }}{{ . | urlize }}">
              <span class="hash">#</span>{{- . -}}
            </a>
          {{ end }}
        {{ end }}
      </p>
    </header>
    <section>
      {{ partial "adsense.html" . }}
      {{- .Content -}}
    </section>
    <footer>
      {{ if .Site.Params.addThisId }}
        <div class="addthis_inline_share_toolbox"></div>
      {{ end }}
      {{ template "_internal/disqus.html" . }}
    </footer>
  </article>
{{ end }}
