{{ define "main" }}
  <article>
    <header>
      <small>
        <time datetime="{{ .Date.Format "2006-01-02 15:04:05-0700" }}">
          {{- .Date.Format "2006-01-02" -}}
        </time>
         {{- if .Params.categories }}
          &bull;
          {{ range $index, $category := .Params.categories }}
            {{ if gt $index 0 }}, {{ end }}
            <a href="{{ $.LanguagePrefix }}{{ "/categories/" | relURL }}{{ . | urlize }}">{{- upper . -}}</a>
          {{ end }}
        {{- end -}}
      </small>
      <h1>{{- .Title -}}</h1>
    </header>
    <section>
      {{- .Content -}}
    </section>
    <footer>
      <hr>
      <div class="meta">
        <p class="tags">
          {{ if .Params.tags }}
            {{ range $index, $tag := .Params.tags }}
              <a href="{{ $.LanguagePrefix }}{{ "tags/" | relURL }}{{ . | urlize }}">
                <span>#</span>{{- . -}}
              </a>
            {{ end }}
          {{ end }}
        </p>
      </div>
      <hr>
      {{ template "_internal/disqus.html" . }}
    </footer>
  </article>
{{ end }}
