<ul class="pagination">
  <li>
    {{ if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL | relURL }}">
        <!--{{ i18n "previous" }}-->
        <svg fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </a>
    {{ end }}
  </li>
  <li>
    {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL | relURL }}">
        <!--{{ i18n "next" }}-->
        <svg fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </a>
    {{ end }}
  </li>
</ul>
