<h2>
  {{ if eq .Kind "section" }}
  {{ i18n "postsList" . }}
  {{ else }}
  {{ i18n "postsAbout" }} {{ .Title }}
  {{ end }}
  <small>
    - <a href="{{ .RSSLink | relURL }}" class="rss" title="RSS">RSS</a>
  </small>
</h2>
<hr>
{{ range (where .Data.Pages "Type" "posts").GroupByDate "2006" }}
<h3 id="{{ .Key }}">
  {{ .Key }}
</h3>
<ul class="posts-list">
  {{ range .Pages }}
  <li>
    <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
    <a href="{{ .RelPermalink | relURL }}" title="{{ .Title }}">{{ .Title }}</a>
    {{ if .Site.Params.displayPostLanguage }}<span class="lang">/ {{ .Params.language }}</span>{{ end }}
  </li>
  {{ end }}
</ul>
{{ end }}