{{ define "main" }}
  <img
    class="homepage-avatar"
    src="https://www.gravatar.com/avatar/{{ md5 .Site.Author.gravataremail }}?s=100&d=identicon"
  >
  {{ .Content }}
  {{ if .Site.Menus.pages }}
    <hr>
    <h1>{{ i18n "pages" . }}</h1>
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.pages }}
        <li>
          <a href="{{ .URL | relURL }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
  <hr>
  <h1>{{ i18n "postsList" . }}</h1>
  {{ partial "posts_list.html" . }}
{{ end }}
